.d-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    li {
        width: 150px;
        margin-bottom: 5px;
        a {
            display: block;
            text-align: center;
            // border: 1px solid rgba(0, 0, 0, 0.04);
            border: 2px solid rgb(0 0 0);
            // margin-right: 10px;
            border-radius: 15px;
            // color: #7b7b7b;
            color: black;
            margin: 0 5px;
            i {
                font-size: 60px;
                display: block;
                line-height: 1.3;
            }

            ._img {
                // width: 100%;
                // height: 100%;
                // object-fit: cover;
                // border-radius: 15px;
                border-radius: 0.5rem;
                overflow: hidden;
                height: 60px;
                width: 60px;
                margin: 10px auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .container-label {
                // display: block;
                margin: 0;
                padding: 7px 20px;
                /* padding-top: 0; */
                background: black;
                color: white;
                font-size: 15px;
                border-radius: 0 0 10px 10px;
                cursor: pointer;
                .label {
                    cursor: pointer;
                    max-width: 130px;
                }
            }
            cursor: pointer;
            &:hover {
                // color: #1d1d1d;
                background: black;
                color: white;
            }
        }
        // & + li{
        //     a{
        //         border-left: 1px solid #f5f6fa;
        //     }
        // }
    }
}
