// MODAL

.modal-total {
    .modal-dialog {
        width: fit-content;
        max-width: max-content;
        margin: 0 auto;
    }
}

.modal-content {
    border-radius: 0;
    border: none;
    // box-shadow: 2px 6px 10px #5c5c5d;
    box-shadow: var(--modal-shadow);
}
.modal-header {
    // background: #4b83fe;
    // color: white;
    // text-transform: uppercase;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    .modal-title,
    h4 {
        margin: auto;
        // font-size: 15px;
        font-size: 1.25rem;
    }
    .close {
        margin-left: 0;
        font-size: 1.1rem;
    }
}

.modal.total {
    .modal-dialog {
        max-width: 1140px;
    }
    .modal-body {
        background: #f3f3f8;
    }
}

.modal-content {
    // background: #f5f6fa;
    background: var(--bg_a);
}

.modal-footer,
.modal-header {
    background: var(--modal-bg);
}

@media (min-width: 576px) {
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        height: 100%;
        transform: translate3d(0%, 0, 0);
    }
    .modal.left .modal-dialog .errores,
    .modal.right .modal-dialog .errores {
        right: 0;
    }
    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
    }
    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px;
    }
    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0;
        transition:
            opacity 0.3s linear,
            left 0.3s ease-out;
    }
    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0;
        transition:
            opacity 0.3s linear,
            right 0.3s ease-out;
        min-width: 450px;
        max-width: 600px;
    }
    .modal.right.fade .modal-dialog .btn-flotante {
        position: absolute;
        bottom: 7px;
        width: 100%;
    }
    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }
    // .modal-header {
    //   border-bottom-color: #EEEEEE;
    //   background-color: #FAFAFA;
    // }
}

.modal-content {
    border-radius: 15px !important;
    .modal-header,
    .container-close {
        border-radius: 15px 15px 0 0 !important;
    }
    .modal-footer {
        border-radius: 0 0 15px 15px !important;
    }
}

.modal-header,
.container-close {
    // padding: 0;

    position: relative;
    // padding: 5px 0;
    .btn-close,
    .close {
        --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
        position: absolute;
        right: -25px;
        top: -11px;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        opacity: 1;
        border: none;
       // color: white;
        background: red var(--bs-btn-close-bg) center/1em auto no-repeat;
        &:hover {
            opacity: 1 !important;
            background-color: #dd0000;
            transition: all ease 0.5s;
            font-size: 1.4rem;
        }
        &:focus {
            opacity: 1 !important;
            background-color: #dd0000;
            outline: none;
            transition: all ease 0.5s;
            font-size: 1.4rem;
        }
    }
}

//  MODAL
.modal_1000 .modal-dialog {
    max-width: 1000px;
}
.modal_1250 .modal-dialog {
    max-width: 1250px;
}

.modal_1150 .modal-dialog {
    max-width: 1150px;
}

.modal.modal-lg-custom .modal-dialog {
    max-width: 1150px;
    margin-bottom: 0;
    margin: 10px auto;
}

.modal.modal-xl-lg-custom .modal-dialog {
    // max-width: 1250px;
    // max-width: 1150px;
    max-width: 1300px;
    margin-bottom: 0;
    margin: 10px auto;
}

@media (max-width: 1250px) {
    .modal.modal-lg-custom .modal-dialog {
        margin: 10px 15px;
    }
}

.w-90 .modal-dialog {
    max-width: calc(100% - 30px);
    margin: 8px auto;
}

.modal-footer {
    justify-content: center;
    padding: 0.25rem;
}

.modal-h-all {
    .modal-body {
        min-height: calc(100vh - 160px);
    }
}
