<h2>Lista de tareas</h2>

<div class="table_container">
  <button class="btn btn-primary btn-md m-1" (click)="add()">Adicionar</button>
  <table class="table table-sm table-box table-fixed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>descripcion</th>
        <th>fecha</th>
        <th>Hora</th>
        <th>Estado</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      @for (item of tasks; track $index) {
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.date}}</td>
          <td>{{item.hour}}</td>
          <td>{{item.state}}</td>
          <td>
            <div class="d-flex justify-content-center align-item-center gap-1">
              <button class="btn btn-outline-success btn-sm" (click)="update(item)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" (click)="delete(item)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
